<!DOCTYPE html>
<html>
<head>
  <title>HerMajestysSecretApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    //  NOTE: http://stackoverflow.com/questions/7514922/rails-with-underscore-js-templates
      _.templateSettings = {
          interpolate: /\{\{\=(.+?)\}\}/g,
          evaluate: /\{\{(.+?)\}\}/g
      };
  </script>

</head>







<body>


<%= yield %>




</body>
</html>
